@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for Game components */
body {
  min-height: 100vh;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.rock-bg {
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

.paper-bg {
  background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

.scissors-bg {
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

/* ocoto-corner for top right of page to link to github repository */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
      transform: rotate(0);
  }
  20%,
  60% {
      transform: rotate(-25deg);
  }
  40%,
  80% {
      transform: rotate(10deg);
  }
}

.github-corner svg {
  fill: #151513;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.dark .github-corner svg {
  fill: #fff;
  color: black;
}

.octo-arm {
  transform-origin: 130px 106px;
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
      animation: none;
  }
  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
  }
}

